.example-card {
  max-width: inherit;
  margin   : 1em;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-description,
.example-headers-align .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items    : center;
}

.nextBtn {
  background-color: rgba(10,10,10,0.2);
}

.prvBtn {
  background-color: rgba(10,10,10,0.2);
}

.spacer {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.longDesc {}
@media all and (min-width:480px) {
  .longDesc {
    display: block;
  }
  //.phoneContent {display: none;}
}
@media all and (max-width:479px) {
  .longDesc {
    display: none;
  }
  //.phoneContent {display: block;}
}