.usernameDisplay {
  font-size     : 0.9em;
  font-style    : italic;
  vertical-align: middle;
}

.profileIcon {
  width         : 1em;
  height        : 1em;
  border-radius : 50%;
  vertical-align: middle;
}