<app-topnav [title]="title" [loggedInUser]="loggedInUser"></app-topnav>

<mat-sidenav-container class="example-container">
  <!-- Side Navigation Panel -->
  <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
       
       <mat-card class="navitem">
         <mat-card-content>
           Account <i class="material-icons">account_circle</i>
         </mat-card-content>
       </mat-card>

       <mat-card class="navitem">
         <mat-card-content>
           Settings <i class="material-icons">settings</i>
         </mat-card-content>
       </mat-card>

       <mat-card class="navitem">
         <mat-card-content>
           Calendar <i class="fa fa-calendar"></i>
         </mat-card-content>
       </mat-card>
  </mat-sidenav>

  <!-- Main Page -->
  <mat-sidenav-content class="pageContent">
    <!-- router-outlet is placed here to ensure top and side navs stay intact -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
