<div class="mat-app-background">
  <mat-toolbar>
    <!-- Sidenav toggle button -->
    <i class="material-icons" style="color:grey" (click)="toggleSidenav()">
      menu
    </i>
    <span class="branding">
      {{ title | uppercase }}
    </span>
    <a href="/">
      <!-- Might need second routing module for topnav -->
      <img src="./favicon.ico" alt="logo" class="brandingLogo">
    </a>
    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <!--<span>Right Aligned Text</span>-->

    <user-display></user-display>

    <!-- Popup menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item>
        <mat-icon>security</mat-icon>
        <span>Security</span>
      </button>

      <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
      </div>
      <!-- User NOT logged in -->
      <ng-template #guest>
        <button mat-menu-item (click)="auth.googleLogin()">
          <mat-icon>person_outline</mat-icon>
          <span>Login</span>
        </button>
      </ng-template>
      <!-- User logged in -->
      <ng-template #authenticated>
        <button mat-menu-item (click)="auth.signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </ng-template>

    </mat-menu>
  </mat-toolbar>
</div>