.branding {
  padding-left: 1em;
}

.brandingLogo {
  padding-left: 0.5em;
}

.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}