<!--The content below is only a placeholder and can be replaced.-->
<!--<app-card-person [details]=details [cardActions]="['Like','Share']"></app-card-person>-->
<div class="frontPage-header">
  <h1>Welcome to RecipeBox!</h1>
  <h3>Your digital kitchen assistant</h3>
</div>

<div class="frontPage-body">
  <p>
    This site is a collection of recipes gathered from users like you, with everyone's opinions of a recipe taken into account.
  </p>
  <p>
    You can start uploading recipes by registering with us below!
  </p>
  <!--add registration page and link to it here-->

</div>